body{
   
    font-family: 'PT Sans Narrow', sans-serif;
}
.first-section{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    height:600px;
}
.first-part h1{
    font-size: 70px;
    color: rgb(255, 255, 255);
    margin-left:370px;
    width: 590px;
    text-align: center;
    
}
.first-part p{
    margin-left:370px;
    width: 600px;
    text-align: center;
    color: white;
}
.falxible-contaoiner{
    display: flex;
}
.margin-top{
    margin-top: 100px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(253, 122, 122),rgb(250, 139, 119));
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 600px;
}
.second-part h1{
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-left: 500px;
    width:590px;
}
.second-part p{
    margin-left:350px;
    width:590px;
    text-align: center;
    color:gray;
}
.amount{
    margin-left: 300px;
}
.tk{
    margin-left: 20px;
    width: 90px;
    padding: 2%;
    padding-left: 2px;
    border-radius: 10px;
    height: 60px;
    text-align: center;
    background-color: aliceblue;
}
.tk-red{
    margin-left: 20px;
    width: 90px;
    padding: 2%;
    padding-left: 2px;
    border-radius: 10px;
    height: 60px;
    text-align: center;
    background-color: rgb(223, 119, 119);
}
.other-amount{
    margin-left: 600px;
    color: gray;
    font-weight: 300;
}
.hr{
    width: 600px;
}
.button-bottom{
    text-decoration: none;
    background-image: linear-gradient(rgb(253, 122, 122),rgb(250, 139, 119));
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 600px;
    margin-top: 20px;
}
.card{
    margin-left: 100px;
    width: 250px;
    padding:30px;
    padding-left: 20px;
    border-radius: 10px;
    height: 250px;
    background-color: aliceblue;
}
.card p{
    color: gray;
}
.card-one{
    margin-left: 100px;
    width: 250px;
    padding:30px;
    padding-left: 20px;
    border-radius: 10px;
    height: 250px;
    background-color: rgb(252, 231, 229);
}
.card-two{
    margin-left: 100px;
    width: 250px;
    padding:30px;
    padding-left: 20px;
    border-radius: 10px;
    height: 250px;
    background-color: rgb(253, 224, 196);
}
.tran h1{
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin-left:100px;
    width: 400px;
}
.tran p{
    width: 300px;
    margin-left:100px;
    color: gray;
}
.button-bottom-last{
    text-decoration: none;
    background-image: linear-gradient(rgb(253, 122, 122),rgb(250, 139, 119));
    color: rgb(255, 255, 255);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    margin-left: 100px;
    margin-top: 20px;

}
.fivth-section{
    margin-top: 100px;
}
.last-img img{
    width: 500px;
    height: 500px;
    margin-left: 200px;
    margin-top: 50px;
    border-radius: 5px;
}
.update h1{
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin-left:500px;
    width: 400px;
    margin-top: 150px;
}
.update p{
    width: 600px;
    margin-left:350px;
    color: gray;
    text-align: center;
}
.search{
    width: 600px;
    height: 150px;
    background-color: rgb(248, 218, 218);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
    margin-top: 50px;
}
form{
    display: flex;
    width: 250px;
    height: 30px;
    
}
form input{
    border: none;
    flex: 1px;
    outline: none;
}
form button{
    background-color: rgb(250, 110, 133);
    border: none;
    outline: none;
    padding: 10px 10px;
    letter-spacing: 1px;
    cursor: pointer;
    color: brown;

}

footer{
    background-color:rgb(0, 0, 0);
    height: 130px;
    text-align: center;
}
.footer-div h3{
    color: rgb(233, 134, 151);
    font-size: 40px;
}

footer p{
    font-size: 13px;
    color: white;
}
